.products-page {
    text-align: center; 
    margin-top: 20px;
}

.header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 20px; 
    padding: 10px;
}


.product-card {
    border: 1px solid #ddd; /* En border */
    border-radius: 5px; /* Rundade kanter */
    padding: 10px; /* padding innuti */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* skugga */
    text-align: center; /* centrerar text */
    transition: transform 0.2s; /* hover effekt */
}

.product-card:hover {
    transform: scale(1.05); /* skalar upp när man hoverar */
}

.products-list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 25px; 
    padding: 20px; 
}
